* {
  font-family: Nova Flat, FiraCode Nerd Font;
  font-size: 30;
}

window {
  margin: 0px;
  border: 2px solid #373b41;
  background-color: #1d1f21;
  border-radius: 5;
}

#input {
  margin: 10px;
  padding: 10px;
  border: none;
  color: #8abeb7;
  background-color: #282a2e;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a2e;
}

#outer-box {
  margin: 20px;
  border: none;
  background-color: #1d1f21;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 8px;
  border: none;
  color: #8abeb7;
}

#entry {
  margin: 5px;
  background-color: #282a2e;
}

#entry:selected {
  background-color: #373b41;
  color: #c5c8c6;
}

/* #img */

/* #unselected */